
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .wrapper {
    @apply w-[90%] mx-auto overflow-hidden max-w-screen-xl;
  }
  .wrapper-eventos {
    @apply w-[75%] mx-auto overflow-hidden ;
  }
  .button-primary {
    @apply text-light uppercase font-bold pt-2 pb-1 bg-primary rounded-md flex justify-center mt-auto;
  }
  .title-primary {
    @apply font-roboto_cond text-3xl uppercase text-center pb-6;
  }
  .title-primary-2 {
    @apply font-serif text-2xl uppercase text-center p-1;
  }
  .subtitle-primary {
    @apply text-secondary uppercase text-center pb-3;
  }
  .subtitle-secondary {
    @apply text-gray-500 text-center p-1 mb-2 text-sm;
  }
  .subtitle-secondary-input {
    @apply text-gray-500 p-1 mb-2 ;
  }
  .subtitle-secondary-azulLuz {
    @apply text-azulLuz text-center p-1 text-xs;
  }
  .subtitle-secondary-azul {
    @apply text-azul text-center p-1 text-xs;
  }
  .subtitle-secondary-smaller-uppercase {
    @apply text-secondary text-center p-1 text-xs uppercase;
  }
  .button-aguaLuz {
    @apply text-light uppercase font-bold py-3 px-6 bg-aguaLuz rounded-md;
  }
  .button-aguaMedio {
    @apply text-light uppercase font-bold py-3 px-6 bg-aguaMedia rounded-md;
  }
  .button-azulLuz{
    @apply text-light uppercase font-bold py-3 px-6 bg-azulLuz rounded-md ;
  }
  .button-azulLuzLight{
    @apply text-light uppercase font-bold py-3 px-6 bg-azulLuzLight rounded-md ;
  } 
  .button-azulSombra {
    @apply text-light uppercase font-bold py-3 px-6 bg-azulLuzLight rounded-md;
  }
  .button-magenta{
    @apply text-light uppercase font-bold py-3 px-6 bg-magenta rounded-md ;
  }
  .button-morado{
    @apply text-light uppercase font-bold py-3 px-6 bg-morado rounded-md;
  }
  .button-grisLuz{
    @apply text-light uppercase font-bold py-3 px-6 text-center bg-grisLuz rounded-md ;
  }
  .button-grisMedio{
    @apply text-light uppercase font-bold py-3 px-6 bg-grisMedio rounded-md ;
  }
  .button-grisSombra{
    @apply text-light uppercase font-bold py-3 px-6 bg-grisSombra rounded-md ;
  }  

  .scroll__header {
    z-index: 51;
    animation: headerScroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 300px;
  }

  @keyframes headerScroll {
    to {
      background: #d6006d;
    }
  }
}

/*
! tailwindcss v3.3.5 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Jost, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1280px;
  overflow: hidden;
}

.title-primary {
  padding-bottom: 1.5rem;
  text-align: center;
  font-family: Playfair Display, roboto_cond;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.subtitle-primary {
  padding-bottom: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(109 110 112 / var(--tw-text-opacity));
}

.scroll__header {
  z-index: 51;
  animation: headerScroll linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 300px;
}

.carousel-container {
  position: static !important;
  margin-top: 20px;
  z-index: 1;/* Puedes ajustar esto según tus necesidades específicas */
}

@keyframes headerScroll {
  to {
    background: #d6006d;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.right-6 {
  right: 1.5rem;
}

.top-0 {
  top: 0px;
}

.top-24 {
  top: 6rem;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-5 {
  height: 1.25rem;
}

.h-\[500px\] {
  height: 500px;
}

.max-h-\[100px\] {
  max-height: 100px;
}

.max-h-\[60px\] {
  max-height: 60px;
}

.max-h-\[75px\] {
  max-height: 75px;
}

.max-h-\[70px\] {
  max-height: 70px;
}

.w-6 {
  width: 1.5rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[85\%\] {
  width: 85%;
}

.w-\[90\%\] {
  width: 90%;
}

.w-full {
  width: 100%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[80px\] {
  width: 80px;
}

.max-w-\[100px\] {
  max-width: 100px;
}

.max-w-\[60px\] {
  max-width: 60px;
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-stretch {
  justify-content: stretch;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

/* 
.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(204 9 114 / var(--tw-bg-opacity));
} */
/* .bg-primaryDark {
  --tw-bg-opacity: 1;
  background-color: rgb(141 14 87 / 0.9);
} */


.bg-azulLuzLight{
  background-color: rgb(85 85 163 / 1.9);
}



.bg-morado{
  background-color: rgb(141 14 87 / 1);
}

.bg-aguaSombra{
  background-color: rgb(0 110 99 / 1);
}

.bg-aguaMedia{
  background-color: rgb(47 168 145 / 1);
}

.bg-inscripcion {
  background-image: linear-gradient(to right bottom, rgba(140,26,86,0.3), rgba(140,26,86,0.3)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/home/Fondospace1.webp');
  background-attachment: fixed;
}

.bg-contador {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/home/Contador.webp');
}

.bg-fondo01 {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/dashboard/Fondo01.webp');
}

.bg-fondo04 {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/Fondo%204-01.webp');
}

.bg-fondo04op2 {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/Fondo-4-op2.webp');
}

.bg-fondo04rev {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/Fondo-4-op2.webp');
}

.bg-fondoTriang{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0), rgba(0,0,0,0)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/Tri%C3%A1ngulosop9.webp');
}

.bg-fondoTriangrev{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0), rgba(0,0,0,0)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/Tri%C3%A1ngulosop92.webp');
}

.bg-novedades{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/home/Campus.webp');
}

.bg-sanLuis{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/sanluisB.webp');
}

.bg-sanLuisCent{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/CentenarioB.webp');
}

.bg-sanLuisTercer{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/TercerRotB.webp');
}

.bg-sanLuisSerranias{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/SerraniasB.webp');
}

.bg-mercedes{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/vmercedesB.webp');
}

.bg-tilisarao{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/TilisaraoBa.webp');
}

.bg-merlo{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/merlob2.webp');
}

.bg-quines{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/quines.webp');
}

.bg-sanmartin{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/SanMartinBa.webp');
}

.bg-candelaria{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/candelariaB.webp');
}

.bg-lacalera{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/detalle/bg/lacalerap.webp');
}

.bg-main {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('https://firebasestorage.googleapis.com/v0/b/almas-verticales.appspot.com/o/principal.jpg?alt=media&token=e53651bd-5539-4bee-807a-768f9bfd5e16');
}

.bg-sedes {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Sedes/bgSedes.webp');
}

.bg-secretarias {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Secretar%C3%ADa/secretriasb1.webp');
}

.bg-espacioUpro {
  background-image: linear-gradient(to right bottom, rgba(22, 28, 65, 0.9), rgba(22, 28, 65, 0.9)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Nosotros/sedePoetas.webp');
}

.bg-contacto {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/contacto/contactoB.webp');
}

.bg-faq {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/preguntas-freqw.webp');
}

.bg-fondoLineas {
  background-image: linear-gradient(to right bottom, rgba(182,186,186,0.1), rgba(231,234,234,1)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/fondos/Fondolineasok.webp');
}

.bg-grisFondoN {
  background-image: linear-gradient(to bottom, rgba(231,234,234,1) 38%, rgba(0,0,0,0) 38%);
}

.bg-grisFondoE {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 38%, rgba(231,234,234,1) 38% );
}

.bg-carreras {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/CarrerasB.webp');
}

.bg-aluminio {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/aluminio/Carpinter%C3%ADaB.webp');
}

.bg-gerenciamiento {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/gerenciamientoGastronomico/gerenciamientoB.webp');
}

.bg-confeccionista {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/confeccionista/confeccionistaB1.webp');
}

.bg-sensores {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/sensoresyneum/SensoresYNeumaticaB.webp');
}

.bg-mecanicaInt {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/mecanica/MecanicaB.webp');
}

.bg-cocinaProf {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/cocina/CocinaB.webp');
}

.bg-durlock {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/durlock/Durlock1B.webp');
}

/* .bg-maqAgricola {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('');
} */

.bg-plc {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/plc/PLC1B.webp');
}

.bg-estilista {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/estilista/EstilistaB.webp');
}

.bg-constSeco {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/construccionEnSeco/ConstruccionEnSecoB.webp');
}

.bg-autocad {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/autocad/AutocadB.webp');
}

.bg-reparacion {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/reparacionElectrod/ReparacionB.webp');
}

.bg-tapiceria {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/tapiceria/tapiceriaB.webp');
}

.bg-maquinaria {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/maquinariaAgricola/maquinariaB.webp');
}

.bg-imagenPers {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/imagenPersonal/imagenPersonalB.webp');
}

.bg-electricista {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/electricista/ElectricistaB.webp');
}

.bg-electronica {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/electronica/electronicap.webp');
}

.bg-bobinados{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/bobinados/bobinadosB.webp');
}

.bg-moto {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/reparaTuMoto/ReparatumotoB.webp');
}

.bg-refrigeracion{
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/refrigeracion/RepRefrigeracionB.webp');
}

.bg-3d {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/impresion3d/Impresion3DB.webp');
}

.bg-mdf {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/mdf/CarpinteriaMDFB.webp');
}

.bg-gasista {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/gasista/GasistaB.webp');
}

.bg-sanitarista {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/sanitarista/SanitaristaB.webp');
}

.bg-construye {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/consrtuyeTuVivienda/ConttruyeTuViviendaB.webp');
}

.bg-soldador {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/soldador/SoldadorB.webp');
}

.bg-barberia {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/barberia/barberiab.webp');
}
.bg-energias {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/energiasRenov/energiasB1.webp');
}

.bg-robotica {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/carreras/robotica/RoboticaB.webp');
}

.bg-noticias {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Noticias/NoticiasB.webp');
}

.bg-nosotros {
  background-image: linear-gradient(to right bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://uprosanluis.edu.ar/assets/images/paginaWeb/Nosotros/nosotrosB.webp');
}

.bg-eventos-why-mobile {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/web-upro.appspot.com/o/Fondo%20PNG.png?alt=media&token=189fe899-2752-42bf-bdc3-6b645f26f5f5');
  background-position: center top;
  background-size:800px auto;
}

.bg-main-why-mobile {
  background-image: linear-gradient(0deg, rgba(229,231,235,1) 82%, rgba(250,250,250,1) 77%);
}

.bg-main-not-mobile {
  background-image: linear-gradient(0deg, rgba(250,250,250,1) 40%, rgba(229,231,235,1) 40%);
}

.bg-menu {
  background-image: url('../assets/images/menu.png');
}

.bg-cover {
  background-size: cover;
}

.bg-auto {
  background-size: auto;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-top {
  background-position: top;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-12 {
  padding: 3rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pt-56 {
  padding-top: 14rem;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.font-mono {
  font-family: var(--font-roboto-mono);
  font-weight: 400, 500, 700; /* Error de sintaxis aquí */
}
.font-sans {
  font-family: Jost, sans-serif;
}

.font-serif {
  font-family: Playfair Display, serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.text-light {
  --tw-text-opacity: 1;
  color: rgb(233 233 233 / var(--tw-text-opacity));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(109 110 112 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.peer:checked ~ .peer-checked\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.pulser{
  width:30px;
  heigth:30px;
  background:#09f;
  border-radius:50%;
  position:relative;
  transition-duration:10s;
}

.pulser:hover{
  scale:2;
  background:red;
}


hr{
  height:100px;
  width:1px;
  border-width:0;
  color:#909090;
  background-color:#909090;
  margin:35px;
 }

 .linea-izquierda {
  height: 100px;
  width: 1px;
  background-color: #909090;
  margin: 0 0 35px 0; /* Ajusta el margen para cambiar la posición vertical */
  float: left !important;
}

.peer:checked ~ .peer-checked\:bg-close {
  background-image: url('../assets/images/cerrar.png');
}

.logo-icon:hover {
  fill: #d6006d; /* Cambia el color a pink-500 */
  transition: fill 0.3s ease; /* Agrega una transición suave */
}

@media (min-width: 768px) {
  .md\:-m-10 {
    margin: -2.5rem;
  }

  .md\:-mt-10 {
    margin-top: -2.5rem;
  }

  .md\:-mt-20 {
    margin-top: -5rem;
  }

  .md\:-mt-24 {
    margin-top: -6rem;
  }

  .md\:-mt-12 {
    margin-top: -3rem;
  }

  .md\:-mt-8 {
    margin-top: -2rem;
  }

  .md\:-mt-6 {
    margin-top: -1.5rem;
  }

  .md\:-mt-4 {
    margin-top: -1rem;
  }

  .md\:-mt-5 {
    margin-top: -1.25rem;
  }

  .md\:max-h-\[100px\] {
    max-height: 100px;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[60\%\] {
    width: 60%;
  }

  .md\:w-\[100\%\] {
    width: 100%;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:gap-x-10 {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }

  .md\:bg-main-why-desktop {
    background-image: linear-gradient(0deg, rgba(231,234,234,1) 71%, rgba(250,250,250,1) 71%);
  }

  .md\:bg-main-not-desktop {
    background-image: linear-gradient(0deg, rgba(250,250,250,1) 45%, rgba(208,208,208,1) 45%);
  }

  .md\:bg-eventos-why-desktop {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/web-upro.appspot.com/o/Fondo%20PNG.png?alt=media&token=189fe899-2752-42bf-bdc3-6b645f26f5f5');
    background-position: center top;
    background-size:1800px auto;
    background-color: rgba(250, 250, 250, 0.8);
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .lg\:-mt-24 {
    margin-top: -6rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:w-\[100\%\] {
    width: 100%;
  }

  .lg\:py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .lg\:py-64 {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

